   <!-- Header Start -->
        
<div class="container">
    <nav class="row align-items-center main-menu">
        <!-- Logo -->
       
        <div class="logo">
            <a href="/home/"><img src="assets/img/logo/logo.png" alt=""></a>
        </div>
       
        <div class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>                    
        <div class=" align-items-center justify-content-end" id="desktop-menu">
            <!-- Main-menu -->
            <ul id="navigation">
                <li class="active" ><a href="/home/">Home</a></li>                                        
                <li><a href="about.html">About</a></li>
                <li><a href="/sentiment_analysis/">Analyze</a>
                    <!-- <ul class="submenu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog_details.html">Blog Details</a></li>
                        <li><a href="elements.html">Element</a></li>
                    </ul> -->
                </li>
                <li><a href="/contact/">Contact</a></li>
                <!-- Button -->
                <!-- <li class="button-header margin-<left "><a href="#" class="btn">Join</a></li>
                <li class="button-header"><a href="login.html" class="btn btn3">Log in</a></li> -->
            </ul>                          
        </div>                  
    </nav>
</div>                            

<!-- Header End -->