<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User List</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
</head>

<body>
	<table class="table table-striped table-bordered table-sm">
	<thead class="thead-dark">
		<tr>
			<th>UID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
		</tr>
	</thead>
	{% for user in site_user %}
	<tr>
		<td>{{user.uid}}</td>
		<td>{{user.f_name}}</td>
		<td>{{user.l_name}}</td>
		<td>{{user.email}}</td>
		<td>
			<a href="/edit/{{user.uid}}"><span class="btn btn-success">Edit</span></a>
			<a href="/delete/{{user.uid}}" class="btn btn-danger">Delete</a>
		</td>
	</tr>
	{% endfor %}


	<tbody>

</body>
</html>
