*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background: white;

}

.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: darkblue;
    cursor: pointer;
}

.menu a{
    color:darkblue;
}
.active{
    color:#19dafa !important;
}

header{
  background-color: purple;
  padding:30px;
}
header h1{
  text-align: center;
  font-size:40px;
  color:white;
  margin:1.5 0px;
}

.signup-btn{
    top:40x;
    right: 80px;
    position:absolute;
    text-decoration: none;
    color: #fff;
    /*border: 2px solid transparent;
    border-radius： 20px;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: : border-box;
    background-clip: content-box, border-box;
    */
}


.banner{
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);


}


.App-text h1{
    color: #fff;
    font-size: 50px;
    text-align: center;

}

.App-text p{

    font-size:20px;
    margin: 30px 0 20px 0 ;
    line-height: 25px;
    color: #919191;
    text-align: center;
}

.line{
    left:-15%;
    width:700px;
    height:47px;
    border-bottom:1px solid grey;
    position: absolute;
}


.selection{
    position:absolute;
    top:41%;
    left:50%;
    transform: translate(-50%,-50%);
}
.selection p{
    font-size:30px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
    text-align: center;
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    margin: 30px 0 30px 40px;
    width:180px !important;
    background-color: orange;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}



.btn:hover{
    background-color: gray;


}
.line2{
    left:-21%;
    width:700px;
    height:47px;
    border-bottom:1px solid grey;
    position: absolute;
}

#custom-button{
    padding: 10px 30px;
    color: white;
    background-color: orange;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    top:58%;
    left:60%;
    transform: translate(-50%,-50%);
    width:150px !important;
}
#custom-button:hover{
    background-color: gray;
}

#custom-text{
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
    position:absolute;
    top:58%;
    left:48%;
    transform: translate(-50%,-50%);

}

.line3{
    position:absolute;
    top:60%;
    left:33%;
    width:700px;
    height:47px;
    border-bottom:1px solid grey;
    position: absolute;
}

.proceedBtn{
    position: absolute;
    top:70%;
    left:44%;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    margin: 26px;
    width:180px !important;
    background-color: orange;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.proceedBtn:hover{
    background-color: gray;
}
